
.blog-section {
  padding: 10rem 2rem;
  background-color: var(--color-grey-lighter);
}

.blog-cards-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.blog-card {
  width: 38rem;
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.blog-card-img-wrapper {
  height: 23rem;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.blog-card-featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-chips-container {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.blog-card-chip {
  font-size: 1.2rem;
  text-transform: capitalize;
  background-color: var(--color-primary);
  padding: 0.4rem 1rem;
  color: var(--color-white);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.blog-card-chip:hover {
  background-color: var(--color-primary-dark);
}

.blog-card-title {
  text-decoration: none;
  margin-bottom: 1rem;
}

.blog-card-title-title {
  color: var(--color-black);
  font-size: 2rem;
  line-height: 1.3;
  transition: color 0.3s ease;
}

.blog-card-title:hover .blog-card-title-title {
  color: var(--color-primary);
}

.blog-synopsis {
  font-size: 1.4rem;
  line-height: 2;
  color: var(--color-grey);
  margin-bottom: 1.5rem;
}

.blog-card-meta-information {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.blog-card-meta {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-primary);
  font-size: 1.3rem;
}

.blog-card-meta i {
  font-size: 1.4rem;
}

.blog-card-meta a {
  color: var(--color-primary);
  text-transform: capitalize;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.blog-card-meta a:hover {
  color: var(--color-primary-dark);
}

@media (max-width: 768px) {
  .blog-card {
    width: 90%;
  }

  .blog-card-img-wrapper {
    height: 20rem;
  }
}

/* FOOTER */
.footer {
  padding: 3rem;
  background-color: var(--color-grey-lighter);
}

.footer-text {
  text-align: center;
  color: var(--color-grey);
}

.footer-text a {
  color: var(--color-grey);
  text-decoration: underline;
}
