/* Header stylings */
.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-white);
  z-index: 100000000;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 37.5em) {
  .header-top {
    display: none;
  }
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-contact-icon {
  --header-contact-icon-size: 6rem;
  width: var(--header-contact-icon-size);
  height: var(--header-contact-icon-size);
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contact-text {
  font-size: 1.4rem;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 40px
}

.logo-text {
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 700;
}

.nav-list {
  border: 1px solid var(--color-black);
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.nav-list-item-link {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--color-black);
  font-weight: 600;
  transition: all 0.5s;
}

.nav-list-item-link:hover {
  color: var(--color-primary);
}
/* End of Header stylings */