:root {
  --color-primary: #f4512c;
  --color-primary-dark: #f53f50;
  --color-white: #fff;
  --color-black: #292929;
  --color-grey: #818481;
  --color-grey-light: #f8f9fa;
  --color-grey-lighter: #f0f0f0;
  --primary-font: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* ALWAYS USE REM UNITS */
/* 1rem = root font size (16px) ====> default*/

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
}

.title-sub {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
}

/* Title stylings */
.title-main {
  text-align: center;
  text-transform: capitalize;
  font-size: 5rem;
}

@media screen and (max-width: 600px) {
  .title-main {
    font-size: 3.5rem;
  }
}
/* End of title stylings */



